 div {
    box-sizing: border-box;
    
}
body {
	background: white;
	font-family: arial;
		
}

.space {
	width: 100%;
	height: 120px;
}

.in-link{
	color: black;
	text-decoration:none;
	font-weight:700;
}

.container {
	width: 70%;
	margin: auto;
	box-sizing: border-box;
	background: white;
	border: 3px solid #f71010;
	
}

.head {
	width: 100%;
	padding: 30px 0px;
}


.logo {
	display: block;
	height: 230px;
	background: url(../img/live-draw-hk.jpg) center no-repeat;
	background-size: 100% 100%;
	margin: auto;
	
}

.menu {
	width: 100%;
	display: block;
	box-sizing: border-box;
	padding: 15px 0px;
	background: linear-gradient(to bottom, #f71010 0%, #f71010 100%);
	text-align: center;
}

.menu a {
	display: inline-block;
	margin: 0px 25px;
	text-decoration: none;
	color: white;
	font-size: 20px;
	
}

.menu a:hover {
	color: black;
	
	
}

.banner {
	width: 100%;
	box-sizing: border-box;
	text-align: center;
	background: white;
}

.banner img {
	display: inline-block;
	width: 49.5%;
	height: 120px;
	padding-top: 5px;
}

.content {
	width: 100%;
	box-sizing: border-box;
	padding: 5px;
	background: white;
	color: black;
	border: 0px solid #f71010;
}

.judul {
	margin: 15px 0px;
	text-align: center;
}

.judul a {
	text-decoration: none;
	color: black;
	font-size: 25px;
	
}

.content p {
    font-size: 15px;
    text-align: justify;
    margin: auto;
    padding: 5px;
    width: 95%;
	
}

.banner1{
text-align:center;
}

.banner1 img {
	display: inline-block;
	width: 95%;
	height: 120px;
}

.floating-top {
	background: transfarant; top: 0; height: auto; left: 0; padding: 0px; position: fixed; text-align: center; width: 100%; z-index: 1001;
}
.floating-bottom {
	background: transfarant; bottom: 0; height: auto; left: 0; padding: 0px; position: fixed; text-align: center; width: 100%; z-index: 1001;
}

.floating-top img {
	width: 34.3%;
	height: 90px;
	padding-top: 5px;
}

.floating-bottom img {
	width: 34.3%;
	height: 120px;
}

.banner-top img {
	width: 728px;
	
}

.iklan {
	width: 100%;
	box-sizing: border-box;
	border: 1px solid #787878;
}

.iklan img {
	width: 100%;
}

.outer-link {
	color: black;
	text-decoration: none;
	list-style-type: square;
	margin: 10px 50px;
}

.outer-link a {
	text-decoration: none;
	color: white;
}



.subjudul1 {
	width: 35%;
	box-sizing: border-box;
	border: 1px solid #787878;
	padding: 5px 0px 5px 15px;
	font-size: 16px;
    background: white;
    text-align: center;
	color: black;
}

.subjudul2 {
	width: 35%;
	box-sizing: border-box;
	border: 1px solid #787878;
	padding: 5px 0px 5px 15px;
	font-size: 16px;
	background: white;
}

.subjudul3 {
	width: 35%;
	box-sizing: border-box;
	border: 1px solid #787878;
	padding: 5px 0px 5px 15px;
	font-size: 16px;
	background: white;
}

.kepala {
	text-align: center;
	color: white;
	font-size: 18px;
	font-weight: bold;
    background: #f08902;
}

.out-link {
	list-style-type: square;
	margin:  0px 35px;
	color: black;
}

.out-link a {
	text-decoration: none;
	color: black
}


a:hover {
    color: black;
}
@media only screen and (max-device-width: 1000px) {
	
	.container {
		width: 100%;
		
	}
	
	.logo {
		width: 300px;
		height: 75px;
		
	}
	
	.menu {
		padding: 0px;
		
	}
	
	.menu a {
		display: block;
		width: 100%;
		margin: 0px;
		padding: 15px 0px;
		border: 1px solid white;
		font-size: 18px;
	}
	
	.banner img {
		display: block;
		width: 100%;
		height: 90px;
		padding-top: 5px;
	}

	.banner-float {
	position: fixed;
	width: 100%;
	text-align: center;
	bottom: 1px;
	z-index: 9999;
}
  .banner-float img {
	width: 728px;

}
.floating-top img {
	width: 94%;
	height:48px;
	padding-top: 5px;
}
.floating-bottom img {
	width: 94%;
	height:50px;
}

.banner1 {
		display: block;
		
	}
	
	.banner1 img {
		display: block;
		width: 100%;
		height: 90px;
	}
	
    .content p {
        width: 90%;
        
    }

    .outer-link {
        margin: 10px 15px;


    }

}
.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
  background:#06F;
  font-weight:bold;
  color:#fff;
}
.table-box {
	display:block;
	border:#cf4f04 6px solid;
	padding:3px;
	background:#F2F2F2;
	
	
	
}
.box-color {
	
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff0509+0,aa0306+50,aa0306+100 */
background: #ff0509; /* Old browsers */
background: -moz-linear-gradient(top, #ff0509 0%, #aa0306 50%, #aa0306 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ff0509 0%,#aa0306 50%,#aa0306 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #e75804, #e75804); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0509', endColorstr='#aa0306',GradientType=0 ); /* IE6-9 */

}
.box-value {
	
	background:#fff;
	
}
table.livedraw td {
padding:3px;	
}




@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
